*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background-image: linear-gradient(to bottom,#3D858E,#D1897B);
}
body { 
    font-family: 'Open sans', 'sans-serif';
    color:white;
    margin: 5px 0 5px 0;
    padding: 0;
}
/* Test */
body::-webkit-scrollbar {
    width: 12px; 
}

body::-webkit-scrollbar-track {
    background: none; 
}
body::-webkit-scrollbar-thumb {
    background-color: #F6A844; 
    border-radius: 20px; 
}


header { 
    width: 100%;
    top: 0;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Partie Hauter du Header */
.hautHeader {
    background-color: #3D858E;
    display: flex;
    height: 160px;
    align-items: center;
    justify-content: space-around;
}
#headerLeft { 
    text-align: center;
    width: 40%;
    font-size: 30px;
    font-weight: bold;
}
#headerRight { 
    text-align: center; 
    width: 40%;
    font-size: 30px;
    font-weight: bold;
}
#logoHeader {
    max-width: 180px;
}
/* Navbar */
.navBar { 
    background-color: #F6A844;
    position: sticky;
    top: 0;
    left:0;
    z-index: 1;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;

}
#menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.navBarButtons { 
    padding: 7px;
    list-style: none;
    color: #FFFFFF;
}
.navBarButtons:hover { 
    background-color: #D1897B;
    border-radius: 5px;
}
.navBarButtons a { 
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
/* Taille images */
.portrait-P-Medium {
    height : 530px;
}
.portrait-L-Medium {
    width : 530px;
}
.portrait-L-Small {
    width: 265px;
}
/* La galerie */
#laGalerie {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
#laGalerie h2 { 
    padding : 5px 20px 5px 20px;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
}
/* Grille Portrait */
.grillePortrait{
    margin: 0 120px 0 120px;
    height: 855px;
    display: grid;
    gap : 20px;
    /* aspect-ratio: 1 / 1; */
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "Img5 Img1 Img1 Img8"
    "Img5 ImgS ImgS Img8"
    "Img4 Img4 Img7 Img7";
}
#titrePortrait {
    grid-area: titre;
    margin: 70px 120px 0 120px;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #D1897B;
    border-radius: 25px 25px 0 0;
}
.image1{
    grid-area: Img1;
    border: 2px solid #D1897B;
    border-top: 0;
    background-image:url(/assests/img/portrait1.jpg);
    background-size: cover;
}
.image1 span {
    display: none;
}
.image4 {
    grid-area: Img4;
    border-radius: 0 0 0 25px;
    border: 2px solid #D1897B;
    background-image: url(/assests/img/portrait4.jpg);
    background-size: cover;
}
.image4 span {
    display: none;
}
.image5 {
    grid-area: Img5;
    border: 3px solid #D1897B;
    border-top: 0;
    background-image: url(/assests/img/portrait5.jpg);
    background-size: cover;
}
.image7 {
    grid-area: Img7;
    border-radius: 0 0 25px 0;
    border: 3px solid #D1897B;
    background-image: url(/assests/img/portrait7.jpg);
    background-size: cover;
}
.image8{
    grid-area: Img8;
    border: 3px solid #D1897B;
    border-top: 0;
    background-image: url(/assests/img/portrait8.jpg);
    background-size: cover;
}

.zoneImages { 
    grid-area: ImgS;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "Img6 Img2"
    "Img3 Img9";
}
.image6 {
    grid-area: Img6;
    border: 2px solid #D1897B;
    background-image: url(/assests/img/portrait6.jpg);
    background-size: cover;
}
.image2 {
    grid-area: Img2;
    border: 2px solid #D1897B;
    background-image:url(/assests/img/portrait2.jpg);
    background-size: cover;
}
.image3 {
    grid-area: Img3;
    border: 2px solid #D1897B;
    background-image:url(/assests/img/portrait3.jpg);
    background-size: cover;
}
.image9 {
    grid-area: Img9;
    border: 2px solid #D1897B;
    background-image: url(/assests/img/portrait9.jpg);
    background-size: cover;
}

/* Grille Paysage */
#titrePaysage {
    grid-area: titre;
    margin: 140px 120px 0 120px;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #D1897B;
    border-radius: 25px 25px 0 0;
}
.grillePaysage{
    margin: 0 120px 0 120px;
    height: 3000px;
    display: grid;
    gap : 20px;
    grid-template-columns: 4fr 2fr 4fr;
    grid-template-rows: repeat(6, 1fr) 2fr;
    grid-template-areas: 
    "Img11 Img11 Img18"
    "Img12 Img12 Img18"
    "Img13 Img13 Img18"
    "Img16 Img14 Img14"
    "Img16 Img15 Img15"
    "Img16 Img19 Img19"
    "Img17 Img17 Img17";
}
.image11 {
    grid-area: Img11;
    border: 2px solid #D1897B;
    border-top: 0;
    background-image: url(/assests/img/landscape1.jpg);
    background-size: cover;
}
.image12 {
    grid-area: Img12;
    border: 2px solid #D1897B;
    background-image: url(/assests/img/landscape2.jpg);
    background-size: cover;
}
.image13 {
    grid-area: Img13;
    border: 2px solid #D1897B;
    background-image: url(/assests/img/landscape3.jpg);
    background-size: cover;
}
.image13 span {
    display: none;
}
.image14 {
    grid-area: Img14;
    border: 2px solid #D1897B;
    background-image: url(/assests/img/landscape4.jpg);
    background-size: cover;
}
.image15 {
    grid-area: Img15;
    border: 2px solid #D1897B;
    background-image: url(/assests/img/landscape5.jpg);
    background-size: cover;
}
.image16 {
    grid-area: Img16;
    border: 2px solid #D1897B;
    background-image: url(/assests/img/landscape6.jpg);
    background-size: cover;
}
.image17 {
    grid-area: Img17;
    border: 2px solid #D1897B;
    background-image: url(/assests/img/landscape7.jpg);
    background-size: cover;
    border-radius: 0 0 25px 25px;
}
.image17 span {
    display: none;
}
.image18 {
    grid-area: Img18;
    border: 2px solid #D1897B;
    border-top: 0;
    background-image: url(/assests/img/landscape8.jpg);
    background-size: cover;
}
.image19 {
    grid-area: Img19;
    border: 2px solid #D1897B;
    background-image: url(/assests/img/landscape9.jpg);
    background-size: cover;
}
/* Ligne de séparation */
.ligneSeparation {
    margin : 140px 480px 0 480px;
    border-top : 2px solid #ffffff;
}
/* Zone Bio + Contact */
#bioContact {
    display: grid;
    margin: 0 120px 0 120px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1000px;
    grid-template-areas: 
    "Bio Contact";
    gap: 20px;
}
#biographieContact { 
    margin: 0 0 140px 0;
}
/* Zone Bio */
#biographie {
    grid-area: Bio;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    height: 1000px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    gap :10px;
    grid-template-areas:
    "textBio Photographer1"
    "Photographer2 Photographer2"
}
/* .textPhoto {
    display: flex;
} */
.textBio {
    grid-area: textBio;
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 10px;
    height: 500px;
}
.photographer1 {
    grid-area: Photographer1;
    background-image: url(/assests/img/photographer.jpg);
    background-size: cover;
    /* border: 2px solid #F6A844; */
    border-top: 2px solid #F6A844;
    border-right: 2px solid #F6A844;
    border-radius: 0 25px 0 0;
}
#lorem { 
    margin: 20px 10px 20px 0;
    padding-right: 10px;
    /* margin-left: 10px; */
    overflow: auto;
}
#lorem::-webkit-scrollbar {
    width: 3px; 
}
#lorem::-webkit-scrollbar-track {
    background: none; 
}
#lorem::-webkit-scrollbar-thumb {
    background-color: #F6A844; 
    border-radius: 20px; 
}
.textPhoto {
    border-left: 2px solid #F6A844;
    border-top: 2px solid #F6A844;
    border-radius: 25px 0 0 0;
}
.textPhoto img {
width: 50%;
border-radius: 0 25px 0 0;
}
.photographer2 { 
    /* width :100%; */
    border-radius: 0 0 25px 25px;
    /* border: 2px solid #F6A844; */
    border-right: 2px solid #F6A844;
    border-bottom: 2px solid #F6A844;
    border-left: 2px solid #F6A844;
    grid-area: Photographer2;
    background-image: url(/assests/img/photographer2.jpg);
    background-size: cover;
    /* margin-top: 10px; */
}
/* Zone Contact */
#contact {
    grid-area: Contact;
    background-color: #F6A844;
    border-radius:25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
}
.contactText i { 
    font-size: 40px;
}
#renseignements { 
    margin: 10px 0 10px 0;
}
.formulaire { 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 360px;
}
.nomPrenom {
    display: flex;
    justify-content: space-around;
}
.nomPrenom input[type="text"] { 
    border-radius: 5px;
    width: 40%;
    height: 30px;
    background-color: #3D858E;
    color: #FFFFFF;
}
input[type="text"]::placeholder { 
    color: #ffffff;
    padding-left: 10px;
}
.email input[type="email"] { 
    border-radius: 5px;
    width: 90%;
    height: 30px;
    background-color: #3D858E;
    color: #FFFFFF;
}
input[type="email"]::placeholder {
    color: #ffffff;
    padding-left: 10px;
}
.objet {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.objet label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}
#objets { 
    display: flex;
}
#objets div {
    margin-right: 10px;;
}
#objets input[type="checkbox"] { 
    transform: scale(1.5);
    margin: 0 3px 0 15px;
}
.observations textarea {
    border-radius: 5px;
    width: 90%;
    height: 150px;
    background-color: #3D858E;
    color: #fff;
}
textarea::placeholder {
    color:#FFFFFF;
    font-family: 'Open sans';
    padding: 10px 0 0 10px;
}
.sendButton {
    display: flex;
    justify-content: center;
}
.sendButton button {
    width: 30%;
    height: 30px;
    border-radius: 10px;
    color:#3D858E;
    font-weight: bold;
    text-transform: uppercase;
}
.sendButton button:hover {
    background-color: #3D858E;
    color: #ffffff;
}

/* Bouton Maps */
.findUs form { 
    margin-top : 10px;
}
.findUs button {
    width: 30%;
    height: 30px;
    border-radius: 10px;
    color:#3D858E;
    font-weight: bold;
    text-transform: uppercase;
}
.findUs button:hover {
    background-color: #D1897B;
    color: #FFFFFF;
}

/* Ligne de séparation avant footer */
.ligneSeparation2 {
    margin : 140px 480px 140px 480px;
    border-top : 2px solid #ffffff;
}

/* Footer */
footer {
    display: flex;
    width: 100%;
    top : 19000px;
    flex-direction: column;
    align-items: center;
}
/* Zone haute Footer */
.footerName { 
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Zone footer Bas */
.footerBas { 
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 0 0;
}
.follow { 
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.adresseFooter { 
    text-align: center;
}
.adresseFooterBas { 
    width: 51%;
    display: flex;
    flex-direction: column;
}
.iconPartner {
    height: 25px;
    fill: #FFFFFF;
}
.footerMentions { 
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}
.footerMentions a { 
    text-decoration: none;
    color: #ffffff;
}
.footerCopyright { 
    margin: 20px 0 10px 10px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center
}
#titreHoraires { 
    text-decoration: underline;
}
/* Non affiché hors mobile */
.hautHeaderMobile {
    display: none;
}
.footerMentions.mobile { 
    display: none;
}

/* Phone */
@media screen and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
    }
    /* Header */
    header {
        height: 64px;
        display: none;
    }
    .hautHeaderMobile { 
        width: 90%;
        padding: 2% 5% 2% 5%;
        position: sticky;
        top : 0;
        left : 0;
        display: flex;
        background-color: #F6A844;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
    }
    .hautHeaderMobile i {
    font-size: 40px;
    align-self: flex-end;
    }
    .hautHeaderMobile img { 
        width: 20%;
    }
    .hautHeader {
        display: none;
    }
    .navBar { 
        display: none;
    }

    /* La galerie */
    #laGalerie {
        margin-top: 40px;
    }
    #titrePortrait {
        margin: 30px 5% 0 5%;
    }

    /* Grille portrait */
    .grillePortrait{
        margin: 0 5% 0 5%;
        width: 90%;
        height: 855px;
        display: grid;
        gap : 10px 2%;
        /* aspect-ratio: 1 / 1; */
        grid-template-columns: repeat(2, 1fr) ;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-areas: 
        "Img1 Img1"
        "Img5 Img8"
        "Img4 Img4";
    }
    .image1 { 
        display: flex;
        align-items: center;
    }
    .image1 span {
        display: flex;
        width: 100%;
        justify-content:space-between;
        font-size:40px;
        padding: 15px;
    }
    .image1 span i { 
        filter: opacity(60%);
    }
    .image4 { 
        border-radius: 0 0 25px 25px;
        display: flex;
        align-items: center;
    }
    .image4 span {
        display: flex;
        width: 100%;
        justify-content:space-between;
        font-size:40px;
        padding: 15px;
    }
    .image4 span i { 
        filter: opacity(60%);
    }
    .image5, .image8, .image18 { 
        border-top: 2px solid #D1897B;
    }
    .zoneImages { 
        display: none;
    }
    .image7 { 
        display: none;
    }

    /* Grille Paysage */
    #titrePaysage {
        margin: 30px 5% 0 5%;
    }
    .grillePaysage{
        margin: 0 5% 0 5%;
        width: 90%;
        height: 855px;
        display: grid;
        gap : 10px 2%;
        /* aspect-ratio: 1 / 1; */
        grid-template-columns: repeat(2, 1fr) ;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-areas: 
        "Img13 Img13"
        "Img18 Img16"
        "Img17 Img17";
    }
    .image11, .image12, .image14, .image15, .image19 { 
        display: none;
    }
    .image13 { 
        border-radius: 0x;
        display: flex;
        align-items: center;
    }
    .image13 span {
        display: flex;
        width: 100%;
        justify-content:space-between;
        font-size:40px;
        padding: 15px;
    }
    .image13 span i { 
        filter: opacity(60%);
    }
    .image17 { 
        border-radius: 0 0 25px 25px;
        display: flex;
        align-items: center;
    }
    .image17 span {
        display: flex;
        width: 100%;
        justify-content:space-between;
        font-size:40px;
        padding: 15px;
    }
    .image17 span i { 
        filter: opacity(60%);
    }
    /* Separation */
    .ligneSeparation { 
        border-top: 2px solid #ffffff;
        margin: 40px 20% 40px 20%;
    }
    .ligneSeparation2 { 
        border-top: 2px solid #ffffff;
        margin: 40px 20% 40px 20%;
    }
    /* Bio Contacts */
    #contact {
        padding: 10px;
    }
    #contact h2 {
        font-size: 40px;
    }
    #renseignements h3 { 
        font-size: 30px;
    }
    .contactText div { 
        font-size: 20px;
    }
    #bioContact {
        display: flex;
        flex-direction: column;
        margin: 0 5% 0 5%;
    }
    .contactText i { 
        font-size: 30px;
    }
    .formulaire { 
        height:500px;
    }
    .contactForm h3 {
        margin-top: 20px;
    }
    .nomPrenom { 
        flex-direction: column;
        align-items: center;
    }
    .nomPrenom input[type="text"] { 
        border-radius: 5px;
        width: 80%;
        height: 30px;
        margin-top: 20px;
    }
    .email input[type="email"] { 
        border-radius: 5px;
        width: 80%;
        height: 30px;
        margin-top: 20px;
    }
    .objet { 
        flex-direction: column;
    }
    .objet label { 
        font-size: 20px;
    }
    #objets { 
        width: 65%;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        margin-left: 35%;
        align-items: flex-start;
    }
    #objets input[type="checkbox"] { 
        font-size: 30px;
    }
    input[type="text"]::placeholder { 
        font-size: 15px;;
    }
    .email input[type="email"] { 
        font-size: 15px;
    }
    input[type="email"]::placeholder {
        font-size: 15px;
    }
    textarea::placeholder {
        font-size: 18px;
    }
    /* Bouton Google Maps */
    .findUs { 
        margin-top: 50px;
    }
    /* Footer */
    .footerName { 
        font-size : 30px;
        margin-bottom: 20px;
    }
    .footerBas { 
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .adresseFooter { 
        font-size: 20px;
        margin-bottom: 20px;
    }
    #adresse { 
        margin-bottom: 20px;
    }
    #titreHoraires { 
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    #horaires { 
        margin : 0 0 20px 0;
        font-size: 24px;
    }
    #horaires span { 
        font-size: 22px;
    }

    /* Footer */
    .zoneDroite { 
        width: 60%;
    }
    .follow { 
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    .follow a { 
        font-size: 40px;
        text-decoration: none;
        color: #ffffff;
    }
    .follow a i { 
        font-size:30px;
    }
    .partenaires { 
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .partenaires a { 
        text-decoration: none;
        color: #ffffff;
    }
    .iconPartner {
        height: 30px;
    }
    .footerMentions { 
        margin: 20px 0 10px 0;
        font-size: 10px;
    }
    .footerMentions.web { 
        display: none;
    }
    .footerMentions.mobile { 
        display: flex;
        flex-direction: row;
    }
    .footerMentions.mobile a { 
        margin-left: 10px;
    }
}